.badge-custom {
    position: absolute;
    top: 0;
    left: -8px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 16px;
    width: 16px;
    border-radius: 8px;
}

.avatar-custom {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 35px;
    width: 35px;
    border-radius: 50%;
    background-color: #FFFFFF;
    color: #222222;
    font-weight: 500;
}

.dropdown-custom {
    position: absolute;
    left: unset !important;
    top: calc(100% + 8px) !important;
    right: 0
}

.dropdown-container {
    position: relative;
}